li .button button {
  background: none;
  border: none;
  margin-right: 5px;
}
li .button button .icon {
  cursor: pointer;
  color: #adb5bd;
  transition: all 0.5s;
}
li .button .remove .icon {
  font-size: 18px;
  transform: translateY(2px);
}
li .button .remove .icon:hover {
  color: rgba(222, 57, 99, 0.6);
}
li .button .btnCheckOff .icon {
  font-size: 14px;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  background: #adb5bd;
  color: #ffffff;
  transform: translateY(2px);
}
li .button .btnCheckOff .icon:hover {
  border-color: #25b99a;
  background: #25b99a;
}
li .button .btnCheckOn .icon {
  font-size: 18px;
  color: #25b99a;
  transform: translateY(4px);
}